/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-mar-2021, 19:12:20
    Author     : jorge
*/

.grid-gallery div{
    position: relative !important;
}

.grid-gallery img{
    width: 100%;
    height: auto;
}

.grid-gallery span{
    position: absolute;
    padding:10px;
    width: 100%;
    
    bottom: 0%;
    left: 0%;
    
    color:white;
    background: rgba(0,0,0,0.9);
    box-sizing: border-box;
}