/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-mar-2021, 21:33:59
    Author     : jorge
*/

body{
   background: #202020; 
}

#contenedor-principal{
    background: #202020;
}

#contenedor-contenido{
    margin-top: 40px;
    margin-bottom: 60px;
}

#contenedor-contenido h2{
    color:white;
    font-size: 1.3em;
}


.rainbow{
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 60px;
    margin-bottom: 20px;
    background: rgb(0,132,158);
    background: linear-gradient(90deg, rgba(0,132,158,1) 0%, rgba(174,34,157,1) 14%, rgba(79,184,196,1) 33%, rgba(245,194,118,1) 66%, rgba(217,224,132,1) 84%, rgba(206,123,144,1) 100%);
}