/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-mar-2021, 21:30:17
    Author     : jorge
*/

.targeta-reciente{
    width: 100%;
    height: auto;
    position: relative;
}

.targeta-reciente img{
    width: 100%;
    height: auto;  
    
    border-radius: 15px 15px 0px 0px;
}

.targeta-reciente .targeta-reciente-contenido{
    display: block;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    color: white;
}

.targeta-reciente .targeta-reciente-contenido .fila-uno-targeta{
    margin-bottom: 45px;
}

.targeta-reciente .targeta-reciente-contenido .texto-targeta-principal{
    font-size: 1.2em;
    margin-left: 5px;
    margin-top: 5px;
}

.targeta-reciente .targeta-reciente-contenido .valoracion-targeta{
    font-size: 1.2em;
    margin-top: 15px;
    border: 1px darkgray solid;
    height: 85%;
    width: 70%;
    text-align: center;
    padding: 15%;
    border-radius: 50%;
    margin-left: 20px;
    
}

.targeta-reciente .targeta-reciente-contenido .texto-targeta-secundario{   
    margin-left: 5px;
}

.targeta-reciente .targeta-reciente-contenido .icono-descarga{
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
}